<%- partial('headers/header') %>
<div class="row" style="margin:0; text-align:center; padding:100px;">
  <img alt="a heart icon" src="images/heart.png" style="margin-bottom:50px; color:white;">
  <h1>Tutorcast's mission is to make tutoring accessible and effective for all.</h1>
</div>
<div class="row" style="margin:0; text-align:center; padding:100px; background-color:#CDFAC8;">
  <div class="container">
    <img alt="a smiley icon" src="images/smiley.png" style="margin-bottom:50px;">
    <h1>Tutoring can instill great confidence in students. Yet many students do not have access to amazing tutors, contributing to the educational inequities we see today.
      Our purpose is to raise the potential of every child by providing easy access to exceptional tutoring.</h1>
  </div>
</div>
<div class="row" style="margin:0; text-align:center; padding:100px; background-color:#8CD4D4;">
  <div class="col-md-12">
    <img alt="a user silhouette" src="images/user.png" style="margin-bottom:50px;">
    <img alt="a user silhouette" src="images/user.png" style="margin-bottom:50px;">
    <img alt="a user silhouette" src="images/user.png" style="margin-bottom:50px;">
    <h1>We are a team committed to helping close the Achievement Gap.</h1>
  </div>
</div>
<div class="row" style="margin:0; text-align:center; padding:100px;">
    <h4>We are based in the City of Angels.  For any questions / feedback / partnerships, please reach out to us at support@tutorcast.tv.</h4>
</div>
