<%- partial('headers/header') %>
<div class="agency-info">
  <div class="wrapper bottom60">
    <div class="row txtcenter" style="color:white; height:200px;">
      <h1>Grow your tutoring business.</h1>
      <h3>Tutorcast's online platform helps your students and your business succeed.</h3>
      <h3>Try 14 Days Free</h3>
      <a href="/center/register" alt="Register as a learning center" class="top30 btn btn-success btn-lg">Start Free Trial Now. Cancel Anytime.</a>
    </div>
  </div>
</div>
<div class="schoolpage" style="background-color:white; padding:50px; margin:0;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-12 bottom30" style="text-align: center;">
        <h1 class="bottom30" style="border-bottom: 2px solid #C0BEBB; padding-bottom:10px; display:inline-block;">What is Tutorcast?</h1>
        <iframe src="https://player.vimeo.com/video/155445867" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="wrapper schoolpage" style="padding:50px;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img alt="a picture of calculus equation" src="/images/calculus.jpg" style="width:100%; box-shadow: 3px 3px 5px #ddd;">
      </div>
      <div class="col-sm-6">
        <div class="col-md-12" style="background-color:white; padding:25px;">
          <h2 style="margin-top:10px;">Your Own Branded Online Tutoring platform</h2>
          <h3>Enhance your tutoring business with a state-of-art online lesson space equipped with:</h3>
            <ul>
              <li>collaborative real time whiteboard</li>
              <li>video chat</li>
              <li>group lessons</li>
              <li>document &amp; image upload</li>
              <li>screen share</li>
              <li>equation editor</li>
              <li>scheduling</li>
              <li>billing</li>
              <li>payments and more</li>
            </ul>
            <h3> -- all on one simple platform.</h3>
          <a href="#contact" class="btn btn-warning pull-right top30" alt="Request a Demo">Request a Demo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="schoolpage" style="background-color:white; padding:50px;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img alt="a screenshot of our replay ui" src="/images/replay_sample.png" style="width:100%;" class="img img-thumbnail">
      </div>
      <div class="col-sm-6">
        <div class="col-md-12" style="background-color:white; padding:25px;">
          <h2 style="margin-top:10px;">Help your students improve with private lesson recordings and clippings</h2>
          <h3>All your lessons are recorded for private playback for students review.  Clip up lesson segments to focus your student on improvement areas.</h3>
          <h3>Ensure peace of mind for parents with private lesson recordings.</h3>
          <h3>Help your team of tutors grow by auditing their recordings and highlighting best practices.</h3>
          <a href="https://tutorcast.tv/classroom/replay/481/tutor=53" class="btn btn-success top30" alt="See a preview of a lesosn replay">See a Lesson Replay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="schoolpage" style="padding:50px;">
  <div class="wrapper">
    <div class="row bottom30">
      <div class="col-sm-6 text-center">
        <img alt="picture of one of our tutors" src="/images/kate.png" style="width:100%;">
      </div>
      <div class="col-sm-6">
        <div class="col-md-12" style="background-color:white; padding:25px;">
          <h2 style="margin-top:10px;">Build a lesson library for current and new students</h2>
          <h3>Create video clips for your students’ questions to access on demand.</h3>
          <h3>Impart your knowledge with new students in need of help.</h3>
          <h3>Get new clients through our marketing services.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h1>Pricing</h1></div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><h1>$79 per month + $29 per tutor</h1><h3>Base Price + Additional Tutor</h3><h4>For more than 10 tutors, please contact us using the form below, or directly email us at support@tutorcast.tv.</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="schoolpage" style="background:#fff; padding:100px;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="bottom30">Contact Us Today for a Free Consultation and Demo</h2>
        <form id="contact">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="school" placeholder="School">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" placeholder="Comments, questions, concerns..."></textarea>
          </div>
          <button class="btn btn-info pull-right" id="submitFormBtn" alt="Submit the contact form">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- partial('headers/footer') %>

<script>
$('#submitFormBtn').click(function() {
  $.ajax({
    url: '/schools/getinfo',
    data: {
      name: $('#name').val(),
      school: $('#school').val(),
      email: $('#email').val(),
      message: $('#message').val()
    }
  }).done(function(data) {
    $('#name').val("");
    $('#school').val("");
    $('#email').val("");
    $('#message').val("");

    swal({
      title: 'Good job!',
      text: 'Your message was sent!',
      type: 'success'
    });
  });
});
</script>
