<body>
<%- partial('headers/header') %>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <img alt="icon demonstrating chat feature" src="images/user-chat.png" style="margin-bottom:30px;">
      <h1>Please contact us at support@tutorcast.tv with any questions, comments or feedback.</h1>
      <h1>You can also reach us directly at (646) 228-3394.</h1>
    </div>
  </div>
</div>
