<body>
<%- partial('headers/header') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>What is Tutorcast?</h1>
      <p>Tutorcast is a single platform for video tutoring made for tutors. </p>

      <p>Tutorcast allows tutors to focus on providing great online lessons without having to worry about the hassles of traveling, billing, payments, managing multiple apps, a middle man, and others.
        Tutors keep 100% of their fees on Tutorcast for the invaluable service they provide students.
      </p>

      <p>The Tutorcast platform is built to drive lesson effectiveness.  Each lesson is recorded for review at one's own pace.  Lessons clips becomes a showcase of a tutor's best work.</p>
    </div>
    <div class="col-md-12">
      <h1>How to start a lesson?</h1>

      <p>1. Sign up as Tutor</p>

      <p>2. Once approved, log in, go to your Home and hit the "Schedule Lesson" button.</p>

      <p>3. Fill out your lesson details, invite your student(s) by using their email address. We advise that you don’t invite more than 3 students into your lesson.
        Enter your PayPal account info into your <b>Account</b> settings, so we can pay you out for the lessons you charge. You can set your lesson to either private or public. If set to private,
        only you and your student can view your lesson replay. If set to public, your lesson will be viewable to Tutorcast users on your public profile page and within the search feature.</p>

      <p>4. Enter your lesson from your <b>Home</b> or from the lesson link in your email.</p>

      <p>5. Please arrive a few minutes before your start time, and allow "Camera &amp; Mic" access.</p>

      <p>6. Once your student(s) enters your lesson, hit the "Start Lesson" button and begin your lesson. Be sure you are on a strong Wifi connection.</p>

      <p>7. During your lesson, you can upload PDFs, draw &amp; text on the whiteboard space. Please do not refresh your browser during a live lesson.</p>

      <p>8. After marking up your whiteboard or PDF with the draw and text features, you can clear your markings on the whiteboard or PDF simply by hitting the "New Whiteboard" button.</p>

      <p>9. A lesson recording will be available from your Home and Archives for later review. You can then clip up your lessons into smaller segments by using the "Clip" feature within the Archives section.</p>

    </div>

    <div class="col-md-12">
      <h1>What is Tutorcast’s fee?</h1>
      <p>There is no fee.  Our tutors keep 100% of their hourly fees.</p>
    </div>

    <div class="col-md-12">
      <h1>How do Tutors get paid?</h1>
      <p>Tutors directly charge their students from our secure Tutorcast platform.  Tutors will charge their hourly rate.  Students will need to enter their credit card information
        prior to joining a paid lesson.  After a lesson, your student’s credit card is charged, and your hourly fee will be transferred into your PayPal account within 2-3 business days.
        Please enter your PayPal account info into your profile under "Accounts".
      </p>
    </div>

    <div class="col-md-12">
      <h1>Can Tutors give free trials?</h1>
      <p>Yes.  We encourage tutors to give students free trials.  Simply input $0 as the cost for the lesson
        when you schedule your free lesson.  Your student won’t need to enter a credit card # to enter your free lesson.</p>
    </div>

    <div class="col-md-12">
      <h1>Can I use Tutorcast without a webcam and audio?</h1>
      <p>We highly encourage you enable your webcam and audio during a live lesson.  This way, sight and sound of both tutor and student will be available.  You can always disable your camera.
        Do note that research has indicated the use of webcams during online tutoring does improves the overall learning experience.  Webcams can help improve student focus during lessons and
        overall effectiveness since both tutors and students can view facial cues throughout a lesson.</p>
    </div>

    <div class="col-md-12">
      <h1>My lesson is slow or laggy?</h1>
      <p>Please make sure you are on a strong WiFi connection during your lesson.  During a lesson, please do not refresh your browser.</p>
    </div>

    <div class="col-md-12">
      <h1>Why isn't my student's or my tutor's video showing?</h1>
      <p>Please be sure your computer has a webcam.  Upon entry of your lesson, there will be a message asking you to allow your camera and mic to be “On” - please allow this.
        If you still can not see the video of your student or tutor, please make sure you are on a strong WiFi connection.  If this still doesn’t work, please reach out to support@tutorcast.tv.
      </p>
    </div>

    <div class="col-md-12">
      <h1>Can I stop recording my lessons?</h1>
      <p>Yes. Tutors can simply hit the "End Lesson" button during a lesson. But please note, this will end your lesson.</p>
    </div>

    <div class="col-md-12">
      <h1>How long can I record my lessons for?</h1>
      <p>You can only record up to 90 minutes per lesson for replay at this point.</p>
    </div>

    <div class="col-md-12">
      <h1>What browsers does Tutorcast support?</h1>
      <p>Only Chrome and Firefox browsers are supported today.</p>
    </div>

    <div class="col-md-12">
      <h1>How can I clear my whiteboard or uploaded PDF?</h1>
      <p>Simply hit the "New Whiteboard" button during a lesson to clear your whiteboard or PDF.</p>
    </div>

    <div class="col-md-12">
      <h1>How can I clip my video?</h1>
      <p>Only Tutors can clip their videos. Tutors can clip up segments of their lessons by going to your Archives, and click on the "Clip" button.
        Enter a title for your clip, start and end times within the provided fields. Let us know if you need any help.</p>
    </div>

    <div class="col-md-12" style="text-align:center; margin-bottom:30px;">
      <h1>Our team can help guide you through the whole process and get you comfortable.  Please reach out to us at support@tutorcast.tv if you need some help with anything.</h1>
    </div>

  </div>
</div>
