  <%- partial('headers/header') %>
  <div class="wrapper homepage">
    <h2>The Power of Online Tutoring and Broadcasting</h2>
    <p class="text-center">
      <a href="/students"><button class="btn btn-warning btn-lg" style="width:250px; margin-right:20px;">I'm a Student or Tutor</button></a>
      <a href="/schools"><button class="btn btn-warning btn-lg" style="width:250px;">I'm an Administrator</button></a>
    </p>
    <!--
    <p class="text-center">
      <a href="/tutor/signup" class="btn btn-warning btn-lg">Sign up as Tutor</a>
      <a href="/student/signup" style="margin-left: 15px;" class="btn btn-warning btn-lg">Sign up as Student</a>
    </p>
    -->
    <div class="main-img"><img alt="picture of calculus equation" src="/images/calculus.jpg" width="1000" height="536" alt="" /></div>
  </div>
  <div class="homepage-how-it-work" style="padding:100px;">
    <div class="wrapper">
      <div class="text-center">
        <h3>How It Works</h3>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <span class="icn move-lesson">Move lessons online</span>
          <h4>Conduct Lessons Online</h4>
          <p class="col-sm-8 col-md-offset-2 text-center" style="font-size:15px;">Tutor your student online with our state-of-the-art whiteboard</p>
        </div>
        <div class="col-sm-4 text-center">
          <span class="icn build-lesson"></span>
          <h4>Build a Lesson Library</h4>
          <p class="col-sm-8 col-md-offset-2 text-center" style="font-size:15px;">Review recorded lessons and build on strengths and weaknesses</p>
        </div>
        <div class="col-sm-4 text-center">
          <span class="icn reach-more"></span>
          <h4>Reach More Students</h4>
          <p class="col-sm-8 col-md-offset-2 text-center" style="font-size:15px;">Online tutoring lets you reach any student, anywhere, anytime</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="homepage-info">
    <div class="wrapper" style="background-color:white; padding-top:60px; padding-bottom:60px;">
      <div class="text-center">
        <h3>Tutorcast at Education Institutions</h3>
      </div>
      <div class="row bottom30">
        <div class="col-sm-6 text-center">
          <img alt="picture of a heart made up of different educational icons" src="/images/educationheart.png" style="width:50%;">
        </div>
        <div class="col-sm-6">
          <h4 style="text-align:left">Increase Tutoring accessibility to all students</h4>
          <h4 style="text-align:left">Increase lesson effectiveness</h4>
          <h4 style="text-align:left">Drive student retention and tutor growth</h4>
        </div>
      </div>
      <div class="row txtcenter">
        <h3 class="well">Bring the power of e-Learning to your institution</h3>
      </div>
      <div class="row txtcenter bottom30">
        <a href="/schools"><button class="btn btn-warning btn-lg">Sign Up Your School Today</button></a>
      </div>
      <div class="row txtcenter" style="border-top:1px solid #eee; padding-top:30px;">
        <div class="col-md-8 col-md-offset-2">
          <h3 style="margin-bottom:30px;">School Testimonials</h3>
          <div id="testimonialCont">
            <h4 style="margin-top:0px;" id="testimonial">My lesson went well! ... the lesson was informative. I am thankful. I am planning on scheduling a session soon for my Organic Chemistry class. Thank you so much for your services</h4>
            <h4 style="margin-top:0px;" id="testimonialAuthor">- East Los Angeles College Student</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-partner">
    <div class="wrapper">
      <div class="text-center">
        <h3>Featuring Tutors From</h3>
      </div>
      <div class="row bottom30">
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for east los angeles college" src="/images/elac_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for santa monica college" src="/images/SantaMonicalogo.jpg" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for uc riverside" src="/images/UC_Riverside_seal.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for ucla" src="/images/ucla_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for usc" src="/images/usc_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for columbia" src="/images/columbia_logo.png" style="max-height:100px;"/>
        </div>
        <div class="clear"></div>
      </div>
      <div class="row top30">
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for uc irvine" src="/images/uci_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for harvard" src="/images/Harvard_Logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for boston college" src="/images/boston_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for princeton" src="/images/princeton_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for csula" src="/images/csula_logo.png" style="max-height:100px;"/>
        </div>
        <div class="col-sm-4 col-md-2 text-center">
          <img alt="logo for fordham" src="/images/fordham_logo.png" style="max-height:100px;"/>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <%- partial('headers/footer') %>
</div>
<script>
  var testimonials = [
    "My lesson went well! ... the lesson was informative.  I am thankful. I am planning on scheduling a session soon for my Organic Chemistry class.  Thank you so much for your services!",
    "The lessons went great Sunday and I love the ability to share my screen",
    "I asked some of my students today and they said they love the service but wish there were more hours available"
  ];
  var testimonialAuthors = [
    "- East Los Angeles College Student",
    "- East Los Angeles College Student",
    "- East Los Angeles College Professor"
  ];
  var i = 1;
  $(document).ready(function() {
    var html = "";
    var showTestimonial = setInterval(function () {
      $('#testimonialCont').fadeOut(1000, function() {
        html = "<h4>"+testimonials[i%testimonials.length]+"</h4>";
        html += "<h4>"+testimonialAuthors[i%testimonialAuthors.length]+"</h4>";
        $('#testimonialCont').html(html).fadeIn(1000);
        i++;
      });
    }, 5000);
  });

</script>
