<%- partial('headers/header') %>
<div class="wrapper homepage">
  <h2>Sign Up For Tutorcast Today!</h2>
  <p class="text-center">
    <a href="/student/signup"><button class="btn btn-warning btn-lg" alt="Sign up as student" style="width:250px; margin-right:20px;">I'm a Student</button></a>
    <a href="/tutor/signup"><button class="btn btn-warning btn-lg" alt="Sign up as tutor"  style="width:250px;">I'm a Tutor</button></a>
  </p>
  <div class="main-img"><img alt="picture of calculus equation" src="/images/calculus.jpg" width="1000" height="536" alt="" /></div>
</div>
<%- partial('headers/footer') %>
