<%- partial('headers/header') %>
<div class="b2cpage-info">
  <div class="wrapper bottom60">
    <div class="row txtcenter" style="color:white; height:200px;">
      <h1>The Best Online Tutoring Platform.</h1>
      <h3>The first full featured online tutoring platform, for tutors and students.</h3>
      <a href="/signup" class="top30 btn btn-success btn-lg">Free to Sign Up</a>
    </div>
  </div>
</div>
<div class="wrapper b2cpage" style="padding:50px;">
  <div class="wrapper">
    <div class="row txtcenter bottom30">
      <h2>For Students</h2>
    </div>
    <div class="row txtcenter bottom30">
      <div class="col-md-4">
        <img alt="picture of user silhouette" src="/images/operator4.png">
      </div>
      <div class="col-md-4">
        <img alt="picture of home page" src="/images/home87.png">
      </div>
      <div class="col-md-4">
        <img alt="picture of computer screen" src="/images/screen206.png">
      </div>
    </div>
    <div class="row txtcenter">
      <div class="col-md-4">
        <h4>Find the perfect tutor through micro lesson video clips.</h4>
      </div>
      <div class="col-md-4">
        <h4>Get tutored from the comfort of your home.</h4>
      </div>
      <div class="col-md-4">
        <h4>Improve by reviewing your private lesson recordings at your own pace.</h4>
      </div>
    </div>
  </div>
</div>
<div class="b2cpage" style="background-color:white; padding:50px;">
  <div class="wrapper">
    <div class="row txtcenter bottom30">
      <h2>For Tutors</h2>
    </div>
    <div class="row txtcenter bottom30">
      <div class="col-md-4">
        <img alt="icon of internet connection" src="/images/connection112.png">
      </div>
      <div class="col-md-4">
        <img alt="picture of computer" src="/images/computer345.png">
      </div>
      <div class="col-md-4">
        <img alt="picture of wifi signal" src="/images/signal104.png">
      </div>
    </div>
    <div class="row txtcenter bottom30">
      <div class="col-md-4">
        <h4>Private lesson recordings with clipping ability to help your students.</h4>
      </div>
      <div class="col-md-4">
        <h4>State-of-the-art online tutoring platform armed with:</h4>
        <ul>
            <li>real-time video chat</li>
            <li>collaborative whiteboard</li>
            <li>document and image upload</li>
            <li>equation editor</li>
            <li>screen share</li>
            <li>scheduling</li>
            <li>secure billing and payment</li>
            <li>and much more</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Get new students by broadcasting yourself at your best through public micro lessons.</h4>
      </div>
    </div>
    <div class="row txtcenter">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h1>Starter</h1></div>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Keep 100% of your Fees!</li>
                <li class="list-group-item">Profile page showcasing your best work to students around the world</li>
                <li class="list-group-item">Lesson space equipped with real-time video chat, collaborative whiteboard, PDF &amp; image upload, scheduling, on demand, 1:1 &amp; group lessons, screen share, equation editor, and more</li>
                <li class="list-group-item">Lesson recordings for your students to use as a study tool</li>
                <li class="list-group-item">Billing, Payment and Messaging</li>
                <li class="list-group-item">Up to Four Lessons a Month</li>
                <li class="list-group-item"><h3>$14 / month </h3></li>
                <li class="list-group-item"><a href="/tutor/signup" class="btn btn-success btn-lg">Start your 7 Day Free Trial Today</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h1>Pro</h1></div>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Keep 100% of your Fees!</li>
                <li class="list-group-item">Profile page showcasing your best work to students around the world</li>
                <li class="list-group-item">Lesson space equipped with real-time video chat, collaborative whiteboard, PDF &amp; image upload, scheduling, on demand, 1:1 &amp; group lessons, screen share, equation editor, and more</li>
                <li class="list-group-item">Lesson recordings for your students to use as a study tool</li>
                <li class="list-group-item">Billing, Payment and Messaging</li>
                <li class="list-group-item">Unlimited Lessons a Month</li>
                <li class="list-group-item"><h3>$29 / month</h3></li>
                <li class="list-group-item"><a href="/tutor/signup" class="btn btn-success btn-lg">Start your 7 Day Free Trial Today</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b2cpage" style="padding:100px; margin-top:0px;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="bottom60">Sign Up to Start Learning and Tutoring Today</h2>
        <a href="/tutor/signup" class="btn btn-warning btn-lg">Sign up as Tutor</a>
        <a href="/student/signup" style="margin-left: 15px;" class="btn btn-warning btn-lg">Sign up as Student</a>
      </div>
    </div>
  </div>
</div>
<%- partial('headers/footer') %>
