<body>
<%- partial('headers/header') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h1>Tutorcast TERMS OF SERVICE</h1>

<p>Last Revised: 16 June 2015</p>

<p>"Tutorcast" is a service of Tutorcast LLC., which is incorporated in the state of California.</p>

<p>You accept the following terms and conditions (the "Terms of Service") by using Tutorcast (the "Application") at http://www.Tutorcast.tv (the "Site"), a service of Tutorcast, Inc (the "Service"). Usage of Tutorcast services is governed by the Privacy Policy.</p>

<p>In these Terms of Service, "you," "your" or "User" refers to any person or entity using the Site, Application or Services. Unless otherwise stated, "Tutorcast" "Tutorcast," "we" or "our" will refer to Tutorcast, Inc.</p>

<p>USER REGISTRATION OBLIGATIONS</p>
<p>During the registration process, you will be asked for information pertaining to your account. You are defined as the User. You agree all information provided during 
  this registration process to be accurate, current, and complete. Tutorcast LLC reserves the right to terminate your account, at all times.</p>

<p>MEMBER ACCOUNT, PASSWORD, AND SECURITY</p>
<p>You agree to maintain and keep your account information up-to-date. You agree and understand that you are responsible for maintaining the confidentiality of 
  passwords associated with your Account. You agree that you will be solely responsible for all activities that occur under your account. If you become aware of any 
  unauthorized use of your password or of your account, you agree to notify Tutorcast immediately. The transfer or sale of a Tutorcast account is strictly prohibited. 
  If your Tutorcast Account is created through information or mechanisms provided or facilitated by Facebook, you acknowledge and agree to the terms of Facebook.</p>

<p>Tutorcast PRIVACY POLICY</p>
<p>Personal information collected by Tutorcast is governed by the Privacy Policy. By using Tutorcast, you acknowledge you are fully aware of the type of information we may collect and share.</p>

<p>COPYRIGHT</p>
<p>The Content you upload into our services is completely owned by you, we claim no ownership of your content. You, however, grant Tutorcast non-exclusive 
  rights to use, reproduce, distribute, modify, sublicense, in any format of your content uploaded through the Service, which is subject to these Terms of 
  Service and our Privacy Policy. You warrant that you have sufficient rights to grant this license. At any time, you can delete or remove your profile. By doing 
  this, your personally identifiable data will be removed, however, Tutorcast maintains the right to use, reproduce, distribute, sublicense any of your uploaded content. 
  All copyright infringement claims will be reviewed, please send claims to copyright@Tutorcast.com.</p>

<p>The Site, Services, Content, Application are protected by copyright, trademark, and other laws of the United States and foreign countries. Tutorcast owns all 
  associated intellectual property rights. You will not use or alter any copyright, trademark, service mark or proprietary rights of the Site.</p>

<p>INDEMNITY</p>
<p>You agree to indemnify and hold harmless Tutorcast, Tutorcast, its employees, officers, affiliates, agents, and partners from any claim, action, demand, loss or 
  damages (including attorneys' fees) made or incurred by any third party arising out of or relating to the Content you upload, your use of the Service, your violation 
  of these Terms of Service, or your violation of any rights of a third party.</p>

<p>LIMITATION OF LIABILITY</p>
<p>You understand that the Service and the Application are currently in Alpha/Beta testing phases. The Application is defined as a real-time tutoring platform.</p>
<p>You acknowledge during these Alpha/Beta phases there may be issues affecting availability and functionality of the Service and the Application. You further 
  acknowledge and understand that while the Application is undergoing testing, it may become unavailable and may have software bugs. Tutorcast does not guarantee the
   Software will be free of viruses. Tutorcast MAKES NO WARRANTIES OF USE OF SERVICE AND THE APPLICATION. You agree that Tutorcast is not liable for any of the above.</p>
<p>The Service and Application are made available to you on an "as is" / "as available" basis.
<p>Tutorcast does not warrant that the Service and Application will work on all mobile devices nor is compatible with all mobile phone networks.</p>
<p>You agree that Tutorcast will not be liable or held responsible for ANY damage and/or loss, be it direct or indirect, from the use of or inability to use the Service or the Application.</p>
<p>You agree that if you are not satisfied with Tutorcast's services or application, you can discontinue use of the Service and the Application and will not hold Tutorcast or Tutorcast responsible or 
  liable for your dissatisfaction.</p>
<p>In no event will the aggregate liability of Tutorcast, exceed any amounts paid to Tutorcast, or $50.</p>
<p>You agree and acknowledge all interaction between you and an organization or another individual is solely between you and the other party. You cannot rely on 
  Tutorcast to perform due diligence review or otherwise pre-screen all other users. You are responsible for conducting your own investigations and taking reasonable 
  precautions before proceeding with any interactions. If you interact with other users using means other than those available on the Site, Tutorcast will not be liable 
  for any damages or losses that may result from those interactions.</p>
<p>You acknowledge and agree that Tutorcast is not liable for any damages to the maximum extent permitted by law, and in the event that one provision of 
  these terms is unenforceable, the remaining provisions will remain in full force and effect.</p>

<p>PROHIBITED USES</p>
<p>You shall not conduct and/or authorize any third party to:</p>
<p>redirect an end user away from any Tutorcast pages.</p>
<p>upload Content containing any pornographic, violent, adult, hate-related or illegal content.</p>
<p>index, scrape, spider, or in any non-transitory manner store or cache information from Tutorcast or disseminate malware. You will not attempt to download any content 
  from the site using any engine, software, or mechanisms such as the ones described above.</p>
<p>create a new Account after your Account has been terminated by Tutorcast or Tutorcast.</p>
<p>appoint any action that reflects poorly on Tutorcast.</p>
<p>use the Site, Service, Application or Content for any commercial purpose without prior written permission from Tutorcast.</p>
<p>use another user's account for any purpose.</p>

<p>OTHER AGREEMENTS AND ACKNOWLEDGEMENTS</p>
<p>You understand and acknowledge Tutorcast will grant you access to your own content as well as other User's content, on a limited, non-exclusive, non-transferable license to access and view any content for you and other users.
<p>You will not use, copy, adapt, modify, prepare derivative work based upon, distribute, license, sell, transfer, publicly display or perform, or stream the Site.</p>
<p>You agree and acknowledge you are solely responsible for all User content that you make available on the Site.</p>
<p>You agree and acknowledge you are the sole and exclusive owner of all User content you make available on the Site and that you have all the rights, licenses, 
  consents, and releases necessary to grant Tutorcast the rights in such User Content.</p>
<p>You agree and acknowledge your User Content will not infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, or intellectual property rights.</p>
<p>You agree and acknowledge you are at least 13 years of age to use Tutorcast.fm services.</p>
<p>By accessing and using the site, you agree and acknowledge that you have read all of our Terms of Service, and have read and agree to be bound by these terms whether or not you have registered with Tutorcast.</p>

<p>FEEDBACK</p>
<p>We encourage you to provide feedback on our services, however, you agree to give Tutorcast all rights and ownership to the feedback.</p>

<p>NOTICES FROM TUTORCAST</p>
<p>You acknowledge Tutorcast may modify these terms of service at any time. If you do not agree with such modifications, your only remedy will be to close 
  your account. Tutorcast reserves the right to modify, discontinue or terminate the Site, Application, or Services at any time without prior notice. By 
  continuing use of the Site, after we have posted notice, you are indicating that you agree to be bound by the modified Terms.</p>

<p>PURCHASES AND PAYMENT TERMS</p>
<p>We may collect, as necessary, your billing information such as credit card number and shipping address. We will use this information to complete transactions 
  for Tutorcast goods. Third party items may be available to purchase through the Site. If you decide to purchase a third party item, Tutorcast will use your billing 
  information and your personal information to facilitate this transaction. Tutorcast will process the transaction and remit funds to the third party. Such third party 
  is solely responsible for shipping and delivering your item. You agree that you are responsible for paying the applicable purchase price and any taxes and other fees 
  in relation to your purchase through Tutorcast. All purchases are nonrefundable unless otherwise indicated by the third party. All fees and taxes are payable in United 
  States dollars. All refunds and returns will occur between you and the third party, not with Tutorcast.</p>

<p>You understand and are willing to pay forth all costs associated with transacting tutoring business through Tutorcast. These costs include but are not limited 
  to: (a) hourly rate as listed; (b) travel and transportation fees as described on the Site; and (c) cancellation fees as described in a tutor’s cancellation policy.</p>

<p>GOVERNMENT</p>
<p>Tutorcast is a service; however, you use this service solely at your own risk, and are subject to all applicable local, state, national and international laws and 
  regulations. We will cooperate with government and law officers to enforce and comply with the law. We will disclose information about you to these parties as required or permitted by law.</p>

<p>ENFORCEMENT</p>
You agree and acknowledge that Tutorcast has the right to investigate and prosecute violations of any of our Terms of Service to the fullest extent of the law. Failure to enforce 
any provision of these terms does not constitute a waiver of future enforcements of that provision.</p>

<p>THIRD PARTY/LINKS</p>
<p>On occasion Tutorcast may have links and information relating to third parties. You acknowledge that we are not responsible for this third party content. We are not 
  responsible for the accuracy of any content provided by these third parties and the availability of this content does not imply endorsement by Tutorcast.</p>

<p>Tutorcast PRIVACY POLICY</p>

<p>Last Revised: 16 June 2015</p>

<p>Types of Information We Collect</p>
<p>We will collect personal information when you create an account and take any action on Tutorcast. To create an account, we require you to provide your name, date of birth, email address, and Facebook username.</p>

<p>Additionally, we may also collect other types of information (known as demographic information) such as your gender, hobbies, occupation, platform preferences,
   and other similar information. This demographic information may be associated with your personal information on Facebook. We will not ask for any of your personal 
   information through non-secured or unsolicited email or telephone communication.</p>

<p>We may also collect, as necessary, your billing information such as credit card number and shipping address to complete transactions for goods or services.</p>

<p>How We Use Your Personal Information</p>
<p>The personal information you provide to us will allow us to show you the most relevant lessons, with respect to your preferences. We keep track of your interactions 
  with us. We may use personal information that you provide to us to send messages to you in response to your request to perform an activity in connection with your use 
  of our services. We may also use your personal information to contact you when necessary. When you opt out or we terminate your account, we will remove your personally 
  identifiable information from the site, however, certain information may remain on our servers. Your information may be transferred to and maintained on computers located 
  outside of your state, province, country or other governmental jurisdiction where privacy laws may not be as protective as those in your jurisdiction.</p>

<p>Any and all content you create or content related to recorded sessions will be sole property of Tutorcast.  Tutorcast has the right to do anything with such content.</p>

<p>We will use your billing information to complete transactions for Tutorcast goods or services. Third party goods or services may be available to purchase through the 
  Site. If you decide to purchase a third party good or service, Tutorcast will use your billing information and your personal information to facilitate this transaction.</p>

<p>Log Information</p>
<p>Our servers automatically record information that your browser sends whenever you visit the Site(s). This information includes your Internet Protocol (IP) address, your 
  browser type and version, the search engine you used to find Tutorcast, if any, the operating system your computer uses, when and how long you use the Services. We use this 
  information to monitor and analyze how users use Tutorcast, to provide customer service and to maintain and improve the Services.</p>

<p>Regarding Children</p>
<p>Children under the age of 13 are not permitted to use the Services and we do not intentionally collect or maintain personal information from those who are under 13 years old.</p>

<p>Sharing of Information</p>
<p>We may use your personal information to provide analyses of our users in the aggregate to prospective partners, merchants and other third parties. We may also 
  disclose and otherwise use, on an anonymous basis, affiliation, position, interests and other non-personal information about customers. In addition, we will share 
  the personal information we collect from you under the following circumstances:</p>

<p>Protection of rights. We will share personal information if we believe that (i) access, use, preservation or disclosure of such 
  information is necessary to satisfy any applicable law, regulation, legal process, such as a court order or subpoena, or a request 
  by law enforcement or governmental authorities, (ii) such action is appropriate to enforce the Terms of Service for Tutorcast, including 
  any investigation of potential violations, (iii) such action is necessary to detect, prevent, or otherwise address fraud, security or technical 
  issues associated with Tutorcast, or (iv) such action is appropriate to protect the rights, property or safety of Tutorcast, its employees, users or others.</p>

<p>Asset transfers. If we become involved in a merger, acquisition or other transaction involving the sale of some or all of Tutorcast’s assets, user 
  information, including personal information collected from you through your use of Tutorcast, could be included in the transferred assets. Should such 
  an event occur, we will use reasonable means to notify you, either through email and/or a prominent notice on the Site(s).</p>

    </div>
  </div>
</div>