<%- partial('headers/header') %>
<div class="b2cpage" style="background-color:white; margin-top:-30px; margin-bottom:0px; padding-top:60px; padding-bottom:60px;">
  <div class="wrapper">
    <div class="row txtcenter">
      <img src="/images/logo128.png" width=100 style="margin-right:20px;">
      <img src="/images/testpreplogo.jpg" width=100>
      <h1>Thank you for your interest in Tutorcast!</h1>
      <h3>Test Prep and Tutoring Professionals is now bringing you Tutorcast e-learning solutions!</h3>
    </div>
  </div>
</div>
<div class="b2cpage">
  <div class="wrapper">
    <div class="row txtcenter bottom30">
      <h2>For Private Tutors</h2>
    </div>
    <div class="row txtcenter">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h1>Starter</h1></div>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Keep 100% of your Fees!</li>
                <li class="list-group-item">Profile page showcasing your best work to students around the world</li>
                <li class="list-group-item">Lesson space equipped with real-time video chat, collaborative whiteboard, PDF &amp; image upload, scheduling, on demand, 1:1 &amp; group lessons, screen share, equation editor, and more</li>
                <li class="list-group-item">Lesson recordings for your students to use as a study tool</li>
                <li class="list-group-item">Billing, Payment and Messaging</li>
                <li class="list-group-item">Up to Four Lessons a Month</li>
                <li class="list-group-item"><h3>$14 / month </h3></li>
                <li class="list-group-item"><a href="/tutor/signup?ref=testprep" class="btn btn-success btn-lg">Start your 7 Day Free Trial Today</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h1>Pro</h1></div>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Keep 100% of your Fees!</li>
                <li class="list-group-item">Profile page showcasing your best work to students around the world</li>
                <li class="list-group-item">Lesson space equipped with real-time video chat, collaborative whiteboard, PDF &amp; image upload, scheduling, on demand, 1:1 &amp; group lessons, screen share, equation editor, and more</li>
                <li class="list-group-item">Lesson recordings for your students to use as a study tool</li>
                <li class="list-group-item">Billing, Payment and Messaging</li>
                <li class="list-group-item">Unlimited Lessons a Month</li>
                <li class="list-group-item"><h3>$29 / month</h3></li>
                <li class="list-group-item"><a href="/tutor/signup?ref=testprep" class="btn btn-success btn-lg">Start your 7 Day Free Trial Today</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b2cpage" style="padding:100px; margin-top:0px;">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="bottom60">Do you own a tutoring center?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h1>Pricing</h1></div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><h1>$79 per month + $29 per tutor</h1><h3>Base Price + Additional Tutor</h3><h4>For more than 10 tutors, please contact us using the form below, or directly email us at support@tutorcast.tv.</h4></li>
            <li class="list-group-item">
              <a href="/center/register?ref=testprep" alt="Register as a learning center" class="btn btn-success btn-lg">Start Free Trial Now. Cancel Anytime.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial('headers/footer') %>
